{#
/**
 * @file status_entity.html.twig
 * Default theme implementation to present Status entity data.
 *
 * This template is used when viewing Status entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_status_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('status_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
